button{
    width:25%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    font-weight: bolder;
    font-size: 50px;
}

#button0, #buttonAC{
    width: 50%;
}
.page{
    width: auto;
    height: 700px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorBody{
    height: 500px;
    width: 400px;
    background-color: white;
    border: 5px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
}

.display{
    height: 16.3%;
    width: 100%;
   border: 1px solid black;
    background-color: aqua;
    display:flex;
    margin: 0px;
    padding:0px;
    justify-content: end;
    align-items: end;
    font-size: 50px;
   
}